<h2>Say hello to coding</h2>

In [1]:
print "hello world"

hello world

In [2]:
#i am a comment- comments make our program readable

<h2> Python as a Calculator </h2>

In [3]:
455 * 5676895955498549845458548954

2582987659751840179683639774070L

In [4]:
2582580*.10

258258.0

In [5]:
Out[4]*.10 # this is possible in ipython notebooks

25825.800000000003

<h2> Variables </h2>

In [6]:
veggie_potato = 5

In [7]:
veggie_potato

5

In [8]:
avacado = 1

In [9]:
avacado

1

In [10]:
price = veggie_potato + avacado

In [11]:
price

6

In [12]:
# wrong assignment always calculate the LHS and then put it in RHS
veggie_potato + avacado = veggie_potato + avacado

SyntaxError: can't assign to operator (<ipython-input-12-bc9ebb9fba92>, line 2)

In [13]:
i = 1

<h3> Something that looks weird at first </h3>

In [14]:
#unlike math this is possible in programming same LHS evaluation first and then assignment to RHS
i = i + 1

In [15]:
i

2

In [16]:
#condition check like math
i == i + 1

False

In [17]:
a = 4
b = 4

In [18]:
a+b

8

<h2>Put the variable names as something meaningful and readable</h2>

In [19]:
num1 = 4
num2 = 6

In [20]:
num1 + num2

10

In [21]:
num1= input('enter first number')
num2 = input('enter second number')

enter first number12
enter second number11

In [22]:
sum_of_numbers = num1 + num2
print sum_of_numbers

23

In [23]:
# the answer does not contain any decimal point
div_of_numbers = num1 /num2
print div_of_numbers

1

In [24]:
# what type it is
type(num2)

int

<h2>Typecasting</h2>

In [25]:
div_of_numbers = num1 /float(num2)
print div_of_numbers

1.09090909091

In [26]:
type(div_of_numbers)

float

In [27]:
int(div_of_numbers)

1

In [28]:
name = raw_input('enter a name')

enter a namevijendra

In [29]:
name

'vijendra'

In [30]:
# what if we need string as input a weird thing again
num1 = raw_input('enter 1st number')
num2 = raw_input('enter 2nd number')
print num1 + num2

enter 1st number12
enter 2nd number11
1211

In [31]:
type(num1)

str

In [32]:
'vijendra'+'rana'

'vijendrarana'

In [33]:
num1 = int(raw_input('enter 1st number'))
num2 = int(raw_input('enter 2nd number'))
print num1 + num2

enter 1st number11
enter 2nd number14
25

In [34]:
int('vijendra') # cannot convert characters into numbers

ValueError: invalid literal for int() with base 10: 'vijendra'

In [35]:
type(int('17373'))

int

<h2> Swapping of 2 numbers </h2>

In [36]:
#swapping 2 numbers 
a = 10
b = 5

In [37]:
a

10

In [38]:
b

5

In [39]:
a = b

In [40]:
a #the value 10 is gone forever we need to retain it

5

<h3> The first way temporary variable </h3>

In [42]:
a = 70
b = 90
temp = a
a = b
b = temp

In [43]:
a

90

In [44]:
b

70

<h3> No temporary variable now </h3>

In [45]:
a =  11
b = 67

a = a - b
b = a + b
a = b - a

In [46]:
print a,b

67 11

<h3> The Python Way </h3>

In [47]:
a = 16
b = 36

In [48]:
print a,b

16 36

In [49]:
a, b = b, a

In [50]:
print a,b

36 16

<h2> Now to decisions IF ELSE </h2>

In [51]:
rain = True #boolean

In [52]:
type(rain)

bool

In [53]:
a = 5
type(a == 10)

bool

In [54]:
type(False)

bool

In [55]:
rain = False
if rain == True :
    print "yes!!!!"
else:
    print "Nooooooooo it should be raining!!!!!!!!!!!!! "

Nooooooooo it should be raining!!!!!!!!!!!!!

<h3> Finding the largest of 2 numbers </h3>

In [56]:
a = input('enter 1st number')
b = input('enter 2nd number')
if a > b :
    print a
else:
    print b

enter 1st number88
enter 2nd number99
99

<h3> 3 numbers now </h3>

In [57]:
a = 56
b = 96
c = 80

if a > b:
    if a > c:
        print a
    else:
        print c
else:
    if b > c:
        print b
    else:
        print c

96

<h3> Now to 4 numbers </h3>

In [59]:
#by amanda
a = 56
b = 100
c = 80
d = 10
if a > b:
    if a > c:
        if a > d:
            print a
        else: 
            print d
    else:
        if c > d:
            print c
        else:
            print d
else:
    if b > c:
        if b > d:
            print b
        else:
            print d
    else:
        if c > d:
            print c
        else:
            print d

100

<h3> 5 numbers but in a different way this time </h3>

In [60]:
# by ethan
num1 = 1
num2 = 2
num3 = 3
num4 = 10
num5 = 5
max_num = num1

if max_num < num2 :
    max_num = num2
if max_num < num3 :
    max_num = num3
if max_num < num4 :
    max_num = num4
if max_num < num5 :
    max_num = num5
print max_num

10

In [61]:
#python way
print max(num1,num2,num3,num4,num5)

10


<h2>sandwich shop</h2>
<pre>
<h3>sandwich_type : veggie- 8,chicken- 7
qty - get input from user
toppings = avacado,bacon,cheese
sales_tax - 12 %
if price > 20 Customer has to donate 2 % of the bill to charity
find the total price and print the receipt
</h3>
</pre>

In [62]:
# 2 ways to add strings 
print 'vijendra'+ 'rana'
print 'vijendra','rana'

vijendrarana
vijendra rana

In [63]:
sandwich_type = input('enter 1 for veggie and 2 for chicken: ')
qty = input('enter how many you want: ')
avacado = input('enter 1 for getting avacado 0 otherwise: ')
bacon = input('enter 1 for getting bacon 0 otherwise: ')
cheese = input('enter 1 for getting cheese 0 otherwise: ')
print "-----------------Receipt--------------------------"
print "Sandwich type:",
if sandwich_type == 1:
    sandwich_price = 8
    print "Veggie 8$"
else:
    sandwich_price = 7
    print "Chicken 7$"
print "Quantity:",qty
print "Toppings:",
if avacado == 1:
    print "Avacado 1$",
if bacon == 1:
    print "Bacon 1$",
if cheese == 1:
    print "Cheese 1$"

sandwich_price = sandwich_price + avacado + bacon + cheese
cost_before_sales_tax = sandwich_price * qty
print "Cost:",str(sandwich_price),'X',str(qty),'=',cost_before_sales_tax
print "Sales tax:",str(cost_before_sales_tax),'X','0.12','=',cost_before_sales_tax*0.12
cost = cost_before_sales_tax * 1.12
if cost > 20:
    print "Donation:",str(cost),'X','0.02','=',cost * 0.02
    cost = cost * 1.02

print "Total cost:",'$'+str(cost)
print "Thanks for shopping with us"

enter 1 for veggie and 2 for chicken: 1
enter how many you want: 12
enter 1 for getting avacado 0 otherwise: 1
enter 1 for getting bacon 0 otherwise: 0
enter 1 for getting cheese 0 otherwise: 1
-----------------Receipt--------------------------
Sandwich type: Veggie 8$
Quantity: 12
Toppings: Avacado 1$ Cheese 1$
Cost: 10 X 12 = 120
Sales tax: 120 X 0.12 = 14.4
Donation: 134.4 X 0.02 = 2.688
Total cost: $137.088
Thanks for shopping with us